* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #210138, #2b0249, #7003be);
}

body,
input,
button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased;
}